.vscode

.env
.venv/
.venv-win/


*.crc
.pytest_cache/
.ipynb_checkpoints/

Part2_Formatting_zone/formatted_zone/
Part3_Trusted_zone/trusted_zone/
Part3_Trusted_zone/_staging/
Part4_Exploitation_zone/exploitation_zone/
Part4_Exploitation_zone/_staging/
Part5_Analysis_zone/models/
Part5_Analysis_zone/figures/
Part5_Analysis_zone/reports/

pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log   
